* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif; }

nav {
  width: 100%;
  height: 6.60vh;
  background-color: #2f2f2f; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    nav ul li {
      display: inline; }
      nav ul li a {
        color: #23bdb3;
        font-weight: 500;
        font-size: 17px;
        margin: 0 50px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; }

.event {
  background-color: white;
  display: flex;
  height: 100%;
  display: flex;
  align-items: center;
  height: 100%; }
  .event img {
    display: block;
    width: auto;
    height: 62vh;
    padding: 0;
    margin: 0;
    border: 0; }
  .event .event-text {
    padding-left: 4vw; }
    .event .event-text p:nth-child(1) {
      font-weight: 800;
      font-size: 63px;
      color: black;
      text-transform: uppercase; }
    .event .event-text p:nth-child(2) {
      font-family: 'Lato', sans-serif;
      font-weight: 800;
      font-size: 57px;
      text-transform: uppercase;
      -webkit-text-stroke-width: 2px;
      -webkit-text-fill-color: white; }
    .event .event-text p:nth-child(3) {
      max-width: 38vw;
      height: 10vh;
      margin: auto;
      font-weight: 600;
      font-size: 14px;
      margin-top: 3vh;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%; }
    .event .event-text button {
      background-color: white;
      border: solid;
      outline: 0;
      padding: 0.625em 2em;
      margin-top: 3vh;
      font-size: 18px; }

#logo {
  height: 5.5vh;
  width: auto; }

.newsletter {
  width: 100%;
  background-color: #d22150;
  position: fixed;
  top: 68.60vh;
  bottom: 6.6vh;
  display: flex; }
  .newsletter .a {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .newsletter .a .b {
      display: block; }
      .newsletter .a .b h2 {
        font-weight: 800;
        font-size: 35px; }
      .newsletter .a .b .newsletter-display {
        display: inline; }
        .newsletter .a .b .newsletter-display .newsletter-display-flex {
          display: flex;
          margin: 6px; }
          .newsletter .a .b .newsletter-display .newsletter-display-flex p {
            font-weight: 600;
            font-size: 18px;
            padding-left: 10px;
            overflow: wrap;
            max-width: 20vw; }
  .newsletter .c {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .newsletter .c .d p {
      font-weight: 600;
      font-size: 18px;
      padding-bottom: 20px; }
    .newsletter .c .d input {
      height: 6vh;
      width: 38vw;
      padding: 4px;
      border: solid;
      outline: 0; }

footer {
  height: 6.60vh;
  width: 100%;
  background-color: #23bdb3;
  position: absolute;
  bottom: 0px;
  display: flex; }
  footer .footer-p {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: left;
    width: 50%;
    padding-left: 60px; }
  footer .footer-i {
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;
    justify-content: right;
    padding-right: 40px; }
  footer p {
    color: white;
    font-weight: 600;
    font-size: 12px; }
  footer i {
    color: white;
    font-size: 25px;
    padding: 0 12px; }

.ticket {
  position: absolute;
  right: 7%;
  bottom: 15%;
  z-index: 1;
  width: auto;
  height: 30vh; }

#icons {
  font-size: 20px;
  color: black; }

/*# sourceMappingURL=style.css.map */
