@mixin center{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}


@mixin middle{
	display: flex;
	align-items: center;
	height: 100%;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	
}


nav{
	width: 100%;
	height: 6.60vh;
	background-color: #2f2f2f;

	ul{
		list-style-type: none;
		@include center();

		li{
			display: inline;
			a{
				color: #23bdb3;
				font-weight: 500;
				font-size: 17px;
				margin: 0 50px;
				padding: 0;
				
				@include center();
			}
		} 
	}
}


.event{
	img{
		display: block;
		width: auto;
		height: 62vh;
		padding: 0;
		margin: 0;
		border: 0;
	}

	background-color: white;
	display: flex;
	height: 100%;
	@include middle();
		
	.event-text{
		padding-left: 4vw;
		p:nth-child(1){
			font-weight: 800;
			font-size: 63px;
			color: black;
			text-transform: uppercase;
				
		}
		p:nth-child(2){
			font-family: 'Lato', sans-serif;
			font-weight: 800;
			font-size: 57px;
			text-transform: uppercase;
			-webkit-text-stroke-width: 2px;
	  		-webkit-text-fill-color: white;
	  		
		}
			p:nth-child(3){
			max-width: 38vw;
			height: 10vh;
			margin: auto;
			font-weight: 600;
			font-size: 14px;
			margin-top: 3vh;
			@include center();
			
		}
			button{
			background-color: white;
			border: solid;
			outline: 0;
			padding: 0.625em 2em;
			margin-top: 3vh;
			font-size: 18px;
		}
	}	
}

#logo{
	height: 5.5vh;
	width: auto;
}



.newsletter{
	width: 100%;
	background-color: #d22150;
	position: fixed;
	top: 68.60vh;
	bottom: 6.60vh ;
	display: flex;
	.a{
		width: 35%;
		@include center();

		.b{
			display: block;
			h2{
				
				font-weight: 800;
				font-size: 35px;
			}

			.newsletter-display{
				display: inline;

				.newsletter-display-flex{
					display: flex;
					margin:6px;
					p{
						font-weight: 600; 
						font-size: 18px;
						padding-left: 10px;
						overflow: wrap;
						max-width: 20vw;

					}


				}
			}

		}
		
	}


	.c{
		@include center();
		.d{
			p{
				font-weight: 600;
				font-size: 18px;
				padding-bottom: 20px;
			}
			input{
				height: 6vh;
				width: 38vw;
				padding: 4px;
				border: solid;
			  	outline: 0;
			}

		}

	}
	
}

footer{
	height: 6.60vh;
	width: 100%;
	background-color: #23bdb3;
	position: absolute;
	bottom: 0px;
	display: flex;	
	

	.footer-p{
		@include middle();
		justify-content: left;
		width: 50%;
		padding-left: 60px;
	}

	.footer-i{
		
		@include middle();
		width: 50%;
		justify-content: right;
		padding-right: 40px;	

	}
	p{
		color: white;
		font-weight: 600;
		font-size: 12px;
	}
	i{
		color: white;
		font-size:  25px;
		padding: 0 12px;

	}


}


.ticket{
	position: absolute;
	right: 7%;
	bottom: 15%;
	z-index: 1;
	width: auto;
	height: 30vh;
}

#icons{
	font-size: 20px;
	color: black;
}
